.accessWeb-btn{
    margin-top: 25px ;      /*espaçamento superior*/
   margin-left: -40px;    /*epaçamento esquerdo*/
    width: 120px;         /*largura*/
    background-color: #72C24E;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 18px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;

}

.accessWeb-btn:hover{
    background-color: #15473C;
}